<div>

    <div data-ng-show="deckId != new">
        <span>Deck Name:&nbsp;</span>{{ fixName(Deck.name) }}<br />
        <span>Color:&nbsp;</span>{{ Deck.color }}<br />
        <span>Builder:&nbsp;</span>{{ fixName(Deck.builder) }}
    </div>

    <!-- This portion is only visible if you're trying to make a new deck -->
    <div data-ng-show="deckId == 'new'">
        <h3>Add a New Deck to the Meta</h3>
        Deck Name : <input type="text" data-ng-model="Deck.name" /><br />
        Colors: <input type="text" data-ng-model="Deck.color"><br />
        Builder: <input type="text" data-ng-model="Deck.builder">
    </div>

    <a href="#/decks">Return to Deck List</a>
</div>