<div>

    <div data-ng-show="deckId != 'new' || doEdit != true">
        <span>Deck Name:&nbsp;</span>{{ fixName(Deck.name) }}<br />
        <span>Color:&nbsp;</span>{{ Deck.color }}<br />
        <span>Builder:&nbsp;</span>{{ fixName(Deck.builder) }}
        <p>
            <button data-ng-click="doEdit = !doEdit">Toggle Edit Form</button> <!-- We can make this into a directive which would be awesome -->
        </p>
    </div>
    <!-- This portion is only visible if you're trying to make a new deck -->
    <div data-ng-show="deckId == 'new' || doEdit == true">
        <h3>Add a New Deck to the Meta</h3>
        Deck Name : <input type="text" data-ng-model="Deck.name" /><br />
        Colors: <input type="text" data-ng-model="Deck.color"><br />
        Builder: <input type="text" data-ng-model="Deck.builder"><br />
        <div>
            Commander:&nbsp;<input type="text" data-ng-model="commander" /><br />
            Card list:<br />
            <textarea></textarea>
        </div>
        <button data-ng-click="addDeck()">Add Deck</button> <!-- This should probably be a directive, too. Since it would cover the change in text. -->
    </div>
    <br />
    <a href="#/decks">Return to Deck List</a>
</div>