<style>
    .picker
    {
        list-style-type: none;
        padding: 10px;
    }

    .picker li
    {
        display: inline;
    }

    li.selected
    {

    }
</style>

<h2>Deck List at Goodloe</h2>

<div data-ng-model="Decks">
    <ul class="picker">
        <li data-ng-repeat="color in Colors">
            <a href="" data-ng-click="colorFilter(color.symbol); color.selected = true;">{{ color.name }}</a>
        </li>

        <li><a href="" data-ng-click="showAll()">All</a></li>
    </ul>
    <ul>
        <li data-ng-repeat="deck in Decks">
            <a href data-ng-click="loadDeck(deck._id)" class="ListItem">{{ fixName(deck.name)}} by {{ fixName(deck.builder) }}</a>
        </li>
    </ul>
    <div style="padding-top: 15px;">
        <a href="#/deck/new" class="navLink" data-ng-show="canEdit()">Enter new deck</a>&nbsp;<a href="/" class="navLink">Return to the Main Page</a>
    </div>
</div>