<style>
    #messages
    {
        font-family: arial;
        margin-left: 5px;
        font-size: 0.9em;
    }

    #messages.error
    {
        color: red;
    }

    #messages.normal
    {
        color: black;
    }

    li.winner
    {
        font-size: 1.1em;
        color: forestgreen;
        font-weight: bold;
    }

    span.isWinner
    {
        font-size: 1.1em;
        color: forestgreen;
        font-weight: bold;
        font-style: italic;
        padding-left: 3px;
    }
</style>

<div class="Game">
    <div data-ng-show="!newGame">
        <b>Description:</b> <span class="description">{{ inGame.description }} </span>
        <p class="story">Story: <br />{{ inGame.story }}</p>

        <h3>Players and Decks:</h3>
        <ul>
            <li data-ng-repeat="aPlayer in inGame.players" data-ng-class="{winner: aPlayer.winner}"> <span data-ng-show="aPlayer.winner">Winner!&nbsp;</span>{{ fixName(aPlayer.player.name) }} driving {{ getDeckName(aPlayer.deckName) }}</li>
        </ul>
        <button data-ng-click="toggleEdit()">Edit Game</button><br />
        <a href="#/games">Return to Games List</a>
    </div>

    <div data-ng-show="newGame || editGame">
        <h2>Add New Game</h2>
        <div>
            <h3>Add Players and Decks</h3>
            Add Deck:
            <select id="DeckList" data-ng-model="selDeck">
                <option data-ng-repeat="deck in Decks" value="{{ deck._id }}">{{ getDeckName(deck) }}</option>
            </select><br />
            Add Player:
            <select id="PlayerList" data-ng-model="selPlayer">
                <option data-ng-repeat="player in Players" value="{{ player._id }}">{{ fixName(player.name) }}</option>
            </select>

            <button data-add-deck-to-game data-deck-crtl="DeckList" data-player-crtl="PlayerList">Add Deck</button>

            <div>
                <h3>Chosen Decks and Players</h3>
                <ol style="margin: auto; position: relative; left: 50px;">
                    <li data-ng-repeat="deck in inDecks track by $index">
                        {{ getDescription(inDecks[$index]) }}<span data-ng-show="deck.winner == true" class="isWinner"><-- Winner!</span>
                        <a data-ng-click="setWinner($index)" href="" data-ng-show="deck.winner == false">Set Winner</a>
                    </li>
                </ol>
            </div>
        </div>
        <div>
            <h3>Game Status</h3>
            Choose Game Type:
              <select data-ng-model="gameType">
                <option>1v1</option>
                <option>2hg</option>
                <option>Multi</option>
              </select><br />

              Choose Win Type:
              <select data-ng-model="winType">
                <option>Concession</option>
                <option>Mill</option>
                <option>DD</option>
                <option>Combat</option>
                <option>Alternate / Combo</option>
              </select>
            </div>
            <br /><br />
            <div>
                Description (Keep it under 100 characters): <input type="text" data-ng-model="Description" maxlength="100" style="width: 200px;" /><br />
                Story:<br />
                <textarea data-ng-model="Story" cols="40" rows="10"></textarea>
            </div>
            <div>
                <button data-add-game>Add Game</button><br />
            </div>
        </div>
    </div>
</div>