<style>
    #messages
    {
        font-family: arial;
        margin-left: 5px;
        font-size: 0.9em;
    }

    #messages.error
    {
        color: red;
    }

    #messages.normal
    {
        color: black;
    }

    li.winner
    {
        font-size: 1.1em;
        color: forestgreen;
        font-weight: bold;
    }

    span.isWinner
    {
        font-size: 1.1em;
        color: forestgreen;
        font-weight: bold;
        font-style: italic;
        padding-left: 3px;
    }
</style>

<div class="Game">
    <div data-ng-show="!newGame && !editGame">
        <b>Description:</b>&nbsp;<span class="description">{{ inGame.description }}</span><br />
        <b>Time Played:</b>&nbsp;<span> {{ HumanTime(inGame.timePlayed) }}</span>
        <p class="story">Story: <br />{{ inGame.story }}</p>

        <h3>Players and Decks:</h3>
        <ul style="list-style: none; padding: 10px 5px;">
            <li data-ng-repeat="aPlayer in inGame.players" data-ng-class="{winner: aPlayer.winner}"> <span data-ng-show="aPlayer.winner">Winner!&nbsp;</span>{{ getDescriptionFromGame(aPlayer) }}</li>
        </ul>
        <button data-ng-click="toggleEdit()" data-ng-show="canEdit()">Edit Game</button><br />
        <a href="#/games">Return to Games List</a>
    </div>

    <div data-ng-show="newGame || editGame">
        <h2>Add New Game</h2>
        <div>
            <h3>Add Players and Decks</h3>
            Add Deck:
            <select data-ui-select2="{width: element}" id="DeckList" data-ng-model="selDeck" data-placeholder="Choose a Deck" style="width: 45%" >
                <option data-ng-repeat="deck in Decks" value="{{ deck._id }}">{{ getDeckName(deck) }}</option>
            </select><br />
            Add Player:
            <select id="PlayerList" data-ng-model="selPlayer">
                <option data-ng-repeat="player in Players" value="{{ player._id }}">{{ fixName(player.name) }}</option>
            </select>

            <button data-add-deck-to-game data-deck-crtl="DeckList" data-player-crtl="PlayerList">Add Deck</button>

            <div>
                <h3>Chosen Decks and Players</h3>
                <ol style="margin: auto; position: relative; left: 50px;">
                    <li data-ng-repeat="deck in inDecks track by $index">
                        {{ getDescription(inDecks[$index]) }}<span data-ng-show="deck.winner == true" class="isWinner"><-- Winner!</span>

                        <button data-ng-show="deck.winner == false" data-ng-click="setWinner($index)">Set Winner</button>
                        <button data-ng-click="removeDeck($index)">Remove</button>
                    </li>
                </ol>
            </div>
        </div>
        <div>
            <h3>Game Status</h3>
            <label for="gameType">Choose Game Type:</label>
              <select id="gameType" data-ng-model="gameType">
                <option>1v1</option>
                <option>2hg</option>
                <option>Multi</option>
              </select><br />

              <label for="winType">Choose Win Type:</label>
              <select id="winType" data-ng-model="winType">
                <option>Concession</option>
                <option>Mill</option>
                <option>DD</option>
                <option>Combat</option>
                <option>Alternate / Combo</option>
              </select><br /><br />
            Time played:<br />
            <input id="hours" type="text" size="2" maxlength="2" data-ng-model="Hours" />&nbsp;<label for="hours">hours</label><br />
            <input id="minutes" type="text" size="2" maxlength="2" data-ng-model="Minutes" />&nbsp;<label for="minutes">minutes</label>
            </div>
            <br /><br />
            <div>
                Description (Keep it under 100 characters): <input type="text" data-ng-model="Description" maxlength="100" style="width: 200px;" /><br />
                <label for="Story">Story:</label><br />
                <textarea id="Story" data-ng-model="Story" cols="40" rows="10"></textarea>
            </div>
            <div>
                <button data-add-game>{{ editText }}</button>&nbsp<button data-ng-click="toggleEdit()">Cancel</button><br />
            </div>
        </div>
    </div>
</div>