<h2>Games of the Goodloe Meta</h2>

<div data-ng-model="Games">
    <ul>
        <li data-ng-repeat="game in Games">
            <a href data-ng-click="loadGame(game._id)" class="ListItem">Played On: {{ convDate(game.playedOn) }} - Type: {{ game.gameType }} - Description: {{ game.description }}</a>
        </li>
    </ul>
    <div style="padding-top: 15px;">
        <a class="navLink" href="#/game/new">Enter a new game</a>&nbsp;<a class="navLink" href="/">Return to the Main Page</a>
    </div>
</div>