<style type="text/css">
    span.patchTitle:hover
    {
        cursor: pointer;
        font-weight: bold;
    }

    span.patchTitle
    {
        color: #0099ff;
    }
</style>

<script type="text/ng-template" id="patch-template">
    <span class="patchTitle">Version: {{ patch.version }}</span>
    <input type="hidden" value="{{$index}}" />
    <ul style="list-style-type: square; margin-left: 20px;">
        <li data-ng-repeat="note in patch.changes">
            {{ note }}
        </li>
    </ul>
</script>

<div>
    <h2>Patch Notes:</h2>
    <ul style="list-style: none;">
        <li data-ng-repeat="patch in PatchList" data-ng-include="'patch-template'" style="padding-bottom: 10px;">
        </li>
    </ul>
    <div id="navigation" style="padding-top: 15px;">
        <ul class="nav">
            <li><a href="#/">Return to the Main Page</a></li>
        </ul>
    </div>
</div>