<h2>Players List at Goodloe</h2>

<div data-ng-model="Players">
    <ul>
        <li data-ng-repeat="player in Players">
            <a href data-ng-click="loadPlayer(player._id)" class="ListItem">{{ fixName(player.name)}}</a>
        </li>
    </ul>

    <div data-ng-show="doEdit">
        New Name: <input type="text" data-ng-model="newPlayer" />&nbsp;<button data-ng-click="addPlayer()">Add</button>
    </div>

    <a href="" data-ng-click="doEdit = true" data-ng-show="CheckCookie()">Add a player to the meta</a><br />
    <a href="/">Return to the Main Page</a>
</div>