<style>
    div.percent
    {
        font-size: 1.2em;
    }

    div.percent span
    {
        font-weight: bold;
        color: red;
    }
</style>

<div class="Player">
    <div data-ng-show="!newPlayer">
        <h2>Viewing a Player's Record</h2>

        <dl class="TableStyle">
            <dt>Player Name:</dt>
            <dd>{{ fixName(Player.name) }}</dd>

            <dt>Wins:</dt>
            <dd>{{ Player.wins }}</dd>

            <dt>Games Played:</dt>
            <dd>{{ Player.games }}</dd>
        </dl>
        <div class="percent">
            Current Percentage: <span>{{ (Player.wins / Player.games).toFixed(4) * 100 }}%</span>
        </div>
        <button data-ng-show="canEdit()" data-ng-click="isEditing = !isEditing">Edit</button>
    </div>

    <div id="formDiv" data-ng-show="isEditing">
        <label for="pname">Name:</label><input type="text" id="pname" data-ng-model="Player.name" /><br />
        <button data-ng-click="updatePlayer()" style="float:left; clear: left;">Update Player</button><br /><br />
    </div>

    <div id="navigation">
        <ul class="nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/players">Return to Player List</a></li>
        </ul>
    </div>
</div>