<style>
    ol.rulesList {
        margin-left: 40px;
        font-size: 1.2em;
        list-style-type: upper-roman;
        margin-bottom: 20px;
    }
</style>

<div>
    <h2>{{ Title }}</h2>

    <ol class="rulesList">
        <li style="color: red; font-style: italic">Chris is always right</li>
        <li>No land destruction strategies</li>
        <li>No discard strategies</li>
        <li>See rule 1</li>
        <li>Don't be a dick</li>
        <li>If this is your first night at Goodloe, you have to Magic</li>
        <li>Be excellent to each other.</li>
    </ol>
    <div id="navigation">
        <ul>

            <li><a href="#/">Return to Main Page</a></li>
            <li><a href="#/bannedlist">House Bans</a></li>
        </ul>
    </div>
</div>