<style>
    ol.rulesList {
        margin-left: 40px;
        font-size: 1.2em;
        list-style-type: upper-roman;
    }
</style>

<div>
    <h2>{{ Title }}</h2>

    <ol class="rulesList">
        <li style="color: red; font-style: italic">Chris is always right</li>
        <li>No land destruction strategies</li>
        <li>No discard strategies</li>
        <li>See rule 1</li>
        <li>Don't be a dick</li>
        <li>If this is your first night at Goodloe, you have to Magic</li>
    </ol>
    <div style="padding-top: 10px;">
        <a href="/" class="navLink">Return to Main Page</a>
    </div>
</div>