<div>
    <h>Suggest a Feature</h>
    <div id="formDiv">
        <label for="email">Email:</label><input id="email" type="text" data-ng-model="email" />
        <label for="title">Title:</label><input id="title" type="text" data-ng-model="title" />
        <label for="suggestion">Description:</label><br />
        <textarea id="suggestion" data-ng-model="suggestion"></textarea>
    </div>
    <div id="buttonDiv">
        <button data-ng-click="doSubmit()" data-ng-disabled="!canSubmit">Submit</button>&nbsp;<button data-clear-inputs data-form-div="formDiv">Clear</button>&nbsp;<button data-ng-click="Cancel()">Cancel</button>
        <br />
    </div>
</div>