/* Written By Patrick Taylor 3/1/2014 */

/* Reset browser styles
------------------------------------------ */

* {
	margin:0;
	padding:0;
}

html {
	overflow: scroll;
}

body {
	background: #f4f4f4; 
	color: #000; 
}
	
h1 {
	margin: 0 0 0.25em; 
	color: #00ccff; 
	font: bold 2.154em "Dosis",sans-serif;	
}

.container {
	width:550px;
	background-color:#eeeeee;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	margin-top:35px;
	margin-bottom:40px;
	border:3px solid #888;
	font-family:Lucida Grande, Tahoma, sans-serif;
	font-size:12px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0px 4px 15px #666;
	-webkit-box-shadow: 0px 4px 15px #666;
	box-shadow: 0px 4px 15px #666;
}

/* PATCHES' EXISTING CODE */


dl.TableStyle
{
    margin:0;
    padding:0;
    clear:both;
    overflow:hidden;
    width: 25%
}

.TableStyle dt
{
    margin:0;
    padding:0;
    float:left;
    width:28%;
}

.TableStyle dd
{
    margin:0;
    padding:0;
    float:right;
    width:72%;
}

ul
{
    list-style-type: none;
}

a.ListItem
{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #3399FF;
}