/* Written By Patrick Taylor 3/1/2014 */

/* Reset browser styles
------------------------------------------ */

* {
	margin:0;
	padding:0;
}

html {
	overflow: scroll;
}

body {
	background: #f4f4f4; 
	color: #000; 
	

/* PATCHES' EXISTING CODE */


dl.TableStyle
{
    margin:0;
    padding:0;
    clear:both;
    overflow:hidden;
    width: 25%
}

.TableStyle dt
{
    margin:0;
    padding:0;
    float:left;
    width:28%;
}

.TableStyle dd
{
    margin:0;
    padding:0;
    float:right;
    width:72%;
}

ul
{
    list-style-type: none;
}

a.ListItem
{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #3399FF;
}